:focus {
  outline: 6px double var(--action);
  outline-offset: 0.125em;
}

body {
  --font-size: 1.25em;
  --color: #d2f1f9;
  --background-color: rgba(0, 0, 0, 0.9);
  --action: #e42e2e;
  --tag: rgba(255, 255, 255, 0.1);

  margin: 0;
  font-size: var(--font-size);
  line-height: 1.7;
  font-family: system-ui, sans-serif;
  color: var(--color) !important;
  background-color: var(--background-color) !important;
}

body.theme-ui-default {
  --color: rgba(0, 0, 0, 0.9);
  --background-color: #d2f1f9;
  --action: #c50808; /* #0270c7; */
  --tag: rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  display: block;
}

a {
  color: var(--action);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  line-height: 1.4;
}
