:root {
  --color: #000;
  --background-color: #fff;
}

body {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.7;
  font-family: system-ui, sans-serif;
  color: var(--color);
  background-color: var(--background-color);
}

img {
  width: 100%;
  display: block;
}

a {
  color: #0270c7;
}
