:root {
  --font-size: 1.25em;
  --color: #000;
  --background-color: #fff;
  --action: #b72424; /* #0270c7; */
  --tag: #555;
}

:focus {
  outline: 6px double var(--action);
  outline-offset: 0.25em;
}

body {
  margin: 0;
  font-size: var(--font-size);
  line-height: 1.7;
  font-family: system-ui, sans-serif;
  color: var(--color);
  background-color: var(--background-color);
}

img {
  width: 100%;
  display: block;
}

a {
  color: var(--action);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-weight: 500;
}
